{{! this component is not doing anything}}
<div class="list-group">
	{{#each model as |book|}}
		{{#unless book.isNew}}
			{{#link-to 'books.book' book class="list-group-item"}}{{book.title}}{{/link-to}}
		{{/unless}}
		
	{{/each}}
	
</div>