<nav class="navbar navbar-default">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      	<h3>Bookworm</h3>
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
     
     
    </div>
    	
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'books' tagName="li"}}<a href>Books</a>{{/link-to}}
      </ul>


      {{#if session.isAuthenticated}}
            <button {{action 'logout'}}>Logout</button>
        {{else}}
            <ul class="nav navbar-nav navbar-right">
                    {{#link-to 'login' tagName="li"}}<a href>Log in</a>{{/link-to}}
            </ul>
     {{/if}}
    </div><!-- /.navbar-collapse -->
  
</nav>
