<div class="row">
	<div class="col-sm-4">
		{{#link-to 'books.new' class="btn btn-primary" }}Add new book{{/link-to}}
		{{#each model as |book|}}
			{{#link-to 'books.book' book class="list-group-item"}}{{book.title}}{{/link-to}}
		{{/each}}
		
		{{books-list books=books}}
	</div>
	<div class="col-sm-4">
		{{outlet}}
	</div>
</div>